@import "tailwindcss";
@plugin "@tailwindcss/typography";
@import "./theme.css";
@import "./transitions.css";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}

html,
body {
  background-color: var(--bg);
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

li{
  list-style-type: none; /* Removes the bullet points */
}

@layer components {
  .page-padding {
    @apply px-8 md:px-12 lg:px-20 xl:px-24;
  }
}