@import "tailwindcss";
@import "./theme.css";

@plugin "@tailwindcss/typography";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}

li{
  list-style-type: none; /* Removes the bullet points */
}