:root {
  --bg: #020617;          
  --surface: #121a2d;     
  --nav: #0e1223;

  /* Text */
  --text-primary: #ffffff;
  --text-secondary: #B4C3D8;

  --brand: #14532d;       /* forest green */
  --brand-muted: #0f3d23;

  --accent: #16a34a;      /* bright green */
  --accent-hover: #0e7935;

  /* Borders */
  --border: #1e293b;
}


.bg-bg        { background-color: var(--bg); }
.bg-surface   { background-color: var(--surface); }
.bg-accent    { background-color: var(--accent); }
.bg-brand    { background-color: var(--brand); }
.bg-brand-muted    { background-color: var(--brand-muted); }

.hover\:bg-bg:hover        { background-color: var(--bg); }
.hover\:bg-surface:hover   { background-color: var(--surface); }
.hover\:bg-accent:hover    { background-color: var(--accent-hover); }
.hover\:bg-brand:hover     { background-color: var(--brand); }
.hover\:bg-brand-muted:hover { background-color: var(--brand-muted); }

.text-main    { color: var(--text-primary); }
.text-muted  { color: var(--text-secondary); }
.text-accent { color: var(--accent); }
.text-bg     { color: var(--bg); }
.border-base { border-color: var(--border); }


.navbar {
  background: var(--nav);
  border-bottom: 1px solid var(--border);
}

.nav-link {
  color: var(--text-secondary);
}

.nav-link:hover {
  color: var(--text-primary);
}

.nav-link-active {
  color: var(--text-primary);
  border-bottom: 2px solid var(--brand);
}
